In [1]:
import numpy as np  
import pandas as pd 



df=pd.read_excel("E:\Cursos\BC_Data_Science\Repositorio\ONLINE_DS_THEBRIDGE_V\proyecto EDA\DATASETS\DATASETS MODIFICADOS\Ransom_reducido.xlsx")

In [5]:
df

     Codigo_anyo  Anyo  Mes           Objetivo      Sector     Paises
0              1  2021  JUL             Kaseya        tech        USA
1              1  2021  JUN     Salvation Army         NaN         UK
2              1  2021  JUN       Grupo Fleury  healthcare     Brazil
3              1  2021  JUN      City of Liege  government    Belgium
4              1  2021  JUN  Lucky Star Casino         NaN        USA
..           ...   ...  ...                ...         ...        ...
353            6  2015  NaN       "TeslaCrypt"       mixed  Worldwide
354            6  2014  JUN   New Hampshire PD  government        USA
355            6  2014  MAY      Apple devices       mixed  Australia
356            6  2014  NaN       "Cryptowall"       mixed  Worldwide
357            6  2013  NaN     "Cryptolocker"       mixed  Worldwide

[358 rows x 6 columns]

In [34]:
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
#cambia nombre todas las columnas
#df_reducido=df_reducido.set_axis(["Codigo_anyo", "Anyo","Mes","Objetivo","Sector","Paises"], axis=1)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 358 entries, 0 to 357
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   358 non-null    int64
 1   Codigo_anyo  358 non-null    int64
 2   Anyo         358 non-null    int64
 3   Mes          353 non-null    object
 4   Objetivo     358 non-null    object
 5   Sector       351 non-null    object
 6   Paises       358 non-null    object
dtypes: int64(3), object(4)
memory usage: 19.7+ KB

In [6]:
columna=pd.read_excel("E:\Cursos\BC_Data_Science\Repositorio\ONLINE_DS_THEBRIDGE_V\proyecto EDA\DATASETS\DATASETS MODIFICADOS\columna_grupos.xlsx")

In [7]:
columna

     Cibercriminales_ ransomware
0                         Kaseya
1                 Salvation Army
2                   Grupo Fleury
3                  City of Liege
4              Lucky Star Casino
..                           ...
167          Electrobras & Copel
168                   Kia Motors
169                   CD Projekt
170                          MNH
171     Dutch Research Council).

[172 rows x 1 columns]

In [8]:
# Asignar la nueva columna al DataFrame más grande sin modificar su estructura
df_ransom=df.assign(Cibergrupos_ransom=columna[' Cibercriminales_ ransomware'])

In [9]:
df_ransom

,Codigo_anyo,Anyo,Mes,Objetivo,Sector,Paises,Cibergrupos_ransom
0,1,2021,JUL,Kaseya,tech,USA,Kaseya
1,1,2021,JUN,Salvation Army,NaN,UK,Salvation Army
2,1,2021,JUN,Grupo Fleury,healthcare,Brazil,Grupo Fleury
3,1,2021,JUN,City of Liege,government,Belgium,City of Liege
4,1,2021,JUN,Lucky Star Casino,NaN,USA,Lucky Star Casino
...,...,...,...,...,...,...,...
353,6,2015,NaN,"""TeslaCrypt""",mixed,Worldwide,NaN
354,6,2014,JUN,New Hampshire PD,government,USA,NaN
355,6,2014,MAY,Apple devices,mixed,Australia,NaN
356,6,2014,NaN,"""Cryptowall""",mixed,Worldwide,NaN
357,6,2013,NaN,"""Cryptolocker""",mixed,Worldwide,NaN

In [28]:

 # Convertir la columna a lista
nombres_repetidos = df_ransom["Cibergrupos_ransom"].tolist() 
 # Comprobar si los valores en 'Objetivo' están en 'nombres_repetidos'
filas_eliminar = df_ransom['Objetivo'].isin(nombres_repetidos) 
# Mantener solo las filas donde 'filas_eliminar' es Falso
df_ransom = df_ransom[~filas_eliminar]

In [36]:
df_ransom.to_excel("E:\Cursos\BC_Data_Science\Repositorio\ONLINE_DS_THEBRIDGE_V\proyecto EDA\DATASETS\DATASETS MODIFICADOS\df_random_final.xlsx", index=False)

In [31]:
df_ransom.info()

<class 'pandas.core.frame.DataFrame'>
Index: 194 entries, 13 to 357
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Codigo_anyo         194 non-null    int64
 1   Anyo                194 non-null    int64
 2   Mes                 189 non-null    object
 3   Objetivo            194 non-null    object
 4   Sector              193 non-null    object
 5   Paises              194 non-null    object
 6   Cibergrupos_ransom  8 non-null      object
dtypes: int64(2), object(5)
memory usage: 12.1+ KB

In [32]:
df_ransom = df_ransom.reset_index(drop=True)

<class 'pandas.core.frame.DataFrame'>
Index: 358 entries, 0 to 357
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Codigo_anyo         358 non-null    int64
 1   Anyo                358 non-null    int64
 2   Mes                 353 non-null    object
 3   Objetivo            358 non-null    object
 4   Sector              351 non-null    object
 5   Paises              358 non-null    object
 6   Cibergrupos_ransom  172 non-null    object
dtypes: int64(2), object(5)
memory usage: 22.4+ KB

In [11]:
len(df.Objetivo.unique())# todos son valore unicos, de ellos 135 son nombre de grupos cibercriminales especializados en Ransomware
df.Objetivo.unique()

array(['Kaseya', 'Salvation Army', 'Grupo Fleury', 'City of Liege',
       'Lucky Star Casino', 'MRWD', 'RBA', 'Judson ISD',
       'Humber River Hospital', 'DMACC', 'Town of Freeport', 'Invenergy',
       'Sol Oriens', 'Edward Don', "Skinners' schools", 'ADATA',
       'LineStar', 'iConstituent', 'St. Clair County', 'UF Health',
       'Steamship Authority', 'ParkMobile', 'Sierra College',
       'Betenbough', 'Waikato Hospitals', 'AXA ', 'Ireland HSE',
       'Yamabiko', 'City of Tulsa', 'Volue Technology', 'Scripps Health',
       'Swiss Cloud', 'Presque Isle PD', 'Whistler', 'Aspire',
       'Merseyrail', 'UnitingCare', 'VTA', 'MPD', 'Gyrodata', 'Hoya ',
       'The Dixie Group', 'NBU', 'University of Portsmouth',
       'Owner Federal Group', 'Bakker Logistiek', 'Durham',
       'City of Lawrence', 'JBI', 'Haverhill School', 'NCI',
       'Technological University', 'Home Hardware Stores', 'Applus',
       'Coral Glades High School', 'Boggi Milano', 'MIDC',
       'University of California', 'University of Maryland',
       'Nine Network', 'Sierra Wireless', 'CMAT', 'CSET',
       'South & City College', 'Buffalo Public Schools', 'Molson Coors',
       'Oloron-Sainte-Marie', 'Qualys', 'SEPE', 'Standley Systems',
       'Flagstar', 'Cochise Eye & Laser', 'Prism HR', 'Staring College',
       'STSC', 'TietoEVRY', 'UL', 'Yuba County', 'Jones Day Law Firm',
       'Discount', 'CPCC', 'Dax-Côte d’Argent HC', 'Ness DE',
       'ReMax Kelowna', 'SN ', 'Foxtons Group', 'AFTS', 'VCSD', 'Serco',
       'CRHS', 'DSC Logistics', 'TWU', 'Palfinger', 'WestRock', 'CHwapi',
       'City of Angers', 'Wentworth', 'Dassault Falcon Jet', 'AKVA',
       'OmniTRAX', 'Northern Territory Govt', 'Hackney Council', 'Amey',
       'Apex Laboratory', 'UKRI', 'ECMC', 'Mat-Su', 'Leominster PSD',
       'Arran Brewery', 'Media Prima', 'CDOT', 'Allscripts',
       'Bristol Airport', 'Wyoming Area School District',
       'Arizona Beverages', 'Campbell County Health', 'City of Albany',
       'City of New Bedford', 'Grays Harbour', 'CyrusOne',
       'Tribune Publishing', 'Hackensack Meridian ', 'Norsk Hydro',
       'Boeing', 'LabCorp', 'Brazil Foreign Ministry', 'Sandvik',
       'Singapore malls ', 'Ireland hospitals', 'WBSEDCL',
       'Andhra Pradesh Police', 'Dharmais Cancer Hospital', 'CJ CGV',
       'Russia Central Bank', 'Russian Railways',
       'Russian Interior Ministry', 'Yancheng PD', 'Megafon', 'Sberbank ',
       'Hitachi', 'Deutsche Bahn', 'Bank of China',
       'Chinese universities', 'CNPC', 'Telenor Hungary',
       'Portugal Telecom', 'Petrobras', 'Gas Natural', 'Iberdrola',
       'Telefonica', 'Renault-Nissan', 'NHS', 'Beiersdorf',
       'Reckitt Benckiser', 'Nuance Communications', 'DLA Piper', 'WPP',
       'FedEx', 'Merck', 'Mondelez International', 'Saint-Gobain',
       'Heritage Valley HCS', 'Fujifilm', 'JBS', 'Colonial Pipeline',
       'SEPA', 'Dairy Farm Group', 'Toyota', 'Electrobras & Copel',
       'Kia Motors', 'CD Projekt', 'MNH', 'Dutch Research Council',
       'Banco Pichincha', "Ecuador's Ministry of Finance",
       'Harris Federation', 'Shell', 'Allergy Partners', 'Acer',
       'FatFace', 'CNA', 'Pimpri-Chinchwad ', 'Asteelflash',
       'Pierre Fabre', 'NBA', 'Quanta Computer', 'Upstox', 'TJR',
       'Brenntag', 'Bose', 'ExaGrid', 'One Call Insurance', 'ISS World',
       'Cognizant', 'Sopra Steria', 'GSMS Law Firm', 'Foxconn',
       'Software AG', 'Redcar & Cleveland Council', 'EDP', 'Bouygues',
       'Advantech', 'K-Electric', 'Telecomm', 'DNM', 'Travelex',
       'UC San Francisco', 'Shirbit Insurance', 'CPI',
       'Temple Har Shalom', 'Town of Colonie', 'University of Utah',
       'City of Lafayette', 'Richmond Community Schools',
       'NY Airport Systems', 'EWA', 'Epiq Global', 'Visser Precision',
       'PEI Government', 'Evraz', 'Finastra', 'Kimchuk',
       'LTI Power Systems', 'City of Torrance', 'ExecuPharm',
       'Toll Group', 'Fresenius Medical Care', 'Ruhr University Bochum',
       'Stadler', 'Elexon', 'Magellan Health', 'Stellar', 'NAFO',
       'Conduent', 'Lion', 'Westech International', 'Vard',
       'Fisher and Paykel Appliances', 'Enel', 'LG Electronics', 'Xerox',
       'Mitsubishi', 'City of Florence', 'ST Engineering Aerospace',
       'Cooke County', 'Collabera', 'Garmin', 'The Dussmann Group',
       'Konica Minolta', 'CWT', 'Regis', 'Muskingum Valley Health Center',
       'Boyce Technologies', 'Canon', 'Carnival', 'SK Hynix', 'Ma Labs',
       'Cyligant', 'Banco Estado', 'Newcastle University', 'Equinix',
       'SoftServe', 'Development Bank of Seychelles',
       'Artech Information Systems', 'Dusseldorf University Hospital',
       'Anglicare', 'IPG Photonics', 'Tyler Technologies', 'ERT',
       'Ardonagh Group', 'Yazoo County School District', 'Crytek',
       "Haldiram's", 'STM', 'Vastaamo', 'Boyne Resorts', 'Steelcase',
       "Dr.Reddy's Laboratories", 'GPI', 'Mattel', 'Capcom',
       'Campari Group', 'GEO Group', 'Compal', 'Miltenyi Biotec',
       'Cencosud', 'Managed.com', 'E-Land', 'Manchester United ',
       'Delaware County', 'Endemol Shine', 'K12', 'Embraer',
       'Haberdashers’ Monmouth Schools', 'Symrise', 'Whirlpool', 'Talman',
       'Gedia Automotive Group', 'Habana Labs', 'Blackbaud',
       'Barnes and Noble', 'UHS', 'US Fertility ', 'Randstad',
       'INA Group', 'SCJ', 'Honda', 'Orange', 'R1 RCM Inc.', 'PTI',
       'Brookfield Residential', 'Columbia College',
       'Michigan State University', 'PEMEX', 'Maastricht University',
       'Virtual Care Provider Inc.', 'Riviera Beach & Lake City',
       'City of Baltimore', 'Prosegur', 'State of Louisiana',
       'Rouen Hospital', 'Everis & Cadena SAR', 'Government of Nunavut',
       'City of Johannesburg', 'NVA', 'Pitney Bowes', 'DCH Health System',
       '22 Texan towns', 'La Porte County', 'City of Lodi',
       'Jackson County', 'OWSA', 'Port of San Diego', 'COSCO',
       'City of Atlanta', 'Hancock Health', '"WannaCry"', 'Maersk',
       '"Petya" & "NotPetya"', '"BadRabbit"', 'Madison County',
       'San Francisco MTA', 'Carleton University',
       'University of Calgary', 'MedStar Health', 'Ottawa Hospital',
       'HPMC', 'Lukas & Klinikum Arnsberg Hospitals',
       'Police departments ', 'Greece banks', 'Multiple law firms',
       'Plex', '"TeslaCrypt 2"', '"TeslaCrypt"', 'New Hampshire PD',
       'Apple devices', '"Cryptowall"', '"Cryptolocker"'], dtype=object)

In [7]:
len(df.Objetivo.value_counts())

358

In [8]:
df.Sector.value_counts()# sectores mas atacados gobiernos, empresa "tech""salud", "academicas"

Sector
government             59
tech                   57
healthcare             50
academic               39
logistics              22
finance                18
energy                 15
transport              15
retail                 13
media & sports          9
food & beverage         9
mixed                   8
legal                   7
misc                    7
automotive              5
gaming                  4
telecomms               4
telecoms                3
military                2
healthcare, tech        1
tech                    1
finace                  1
logistics, telecoms     1
media                   1
Name: count, dtype: int64